<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>QUIZ express</h1>
    <p>NATALIA (autora)</p>
    <a href="/">Inicio</a>
    <a href="/quizzes">Quizzes</a>
  </body>
</html>